<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {{ render(controller('AppBundle:Default:head')) }}
        {% endblock %}

        {% block stylesheets %}
            {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header  class="header" id="{% block header_class %}header{% endblock %}" role="banner">
            <div class="container">
                {{ render(controller('AppBundle:Default:menu')) }}
            </div>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
