<h3>网站建设</h3>
<div class="row">
    <div class="col-md-4 text-center" style="visibility: visible; -webkit-animation-delay: 0.4s;">
        {% image '@AppBundle/Resources/public/images/iconfont-ren.png' %}
        <img alt="个人网站制作" class="img-responsive bg-success img-rounded" src="{{ asset_url }}" />
        {% endimage %}
        <h4>个人网站</h4>
        <p>轻便灵活的个人网站建设，你的网站你做主，一切信息由你制作。</p>
    </div>
    <div class="col-md-4 text-center">
        {% image '@AppBundle/Resources/public/images/iconfont-qiye.png' %}
        <img alt="个人网站制作" class="img-responsive bg-success img-rounded" src="{{ asset_url }}" />
        {% endimage %}
        <h4>企业网站</h4>
        <p>企业网站需要的各种模板都有，总有一款合适你，也有自由型企业网站，你的网站不再由模板约束，即时拥有。</p>
    </div>
    <div class="col-md-4 text-center" style="visibility: visible; -webkit-animation-delay: 0.4s;">
        {% image '@AppBundle/Resources/public/images/iconfont-xitongdingzhi.png' %}
        <img alt="个人网站制作" class="img-responsive bg-success img-rounded" src="{{ asset_url }}" />
        {% endimage %}
        <h4>订制网站</h4>
        <p>你不会制作网站，只会简单的word操作，没关系只要你会上网打字就能拥有自己的网站，只要一键即刻拥有。</p>
    </div>
</div>