{% if swipers %}
<div class="row">
    {% for swiper in swipers %}
    <div class="col-md-3">
        <div class="card bg-primary text-white">
            <img src="{{ swiper_image }}/{{ swiper.image }}" class="card-img-top img-circle"/>
            <div class="card-body">
                <h5 class="card-title text-center">{{ swiper.title }}</h5>
                <p class="card-text">{{ swiper.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}