{% if swipers %}
<div class="card-deck my-md-5">
{% for key, swiper in swipers %}
    <div class=" my-3 card swiper text-primary">
        <div class="card-body text-center  wow animated {% if key == 0 %}bounceInLeft{% elseif key == 1 %}fadeInDownBig{% elseif key == 2 %}fadeInUpBig{% else %}bounceInRight{% endif %}" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <!--img src="{{ swiper_image }}/{{ swiper.image }}" class="img-fluid list-group-item"/-->
            <i class="iconfont icon-icon card-text"></i>
            <h4 class="card-title card-title">{{ swiper.title }}</h4>
            <p class="card-text card-text">{{ swiper.description }}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}