<h3>联系方式</h3>
<ul class="list-group list-group-flush">
    <li><p>185-7790-6076</p></li>
    <li><p>广西北海市海城区西藏路民生路网回建小区</p></li>
    <li><a href="mailto:admin@drupai.com">admin@drupai.com</a></li>
    <li><a href="mailto:233238526@qq.com">233238526@qq.com</a></li>
</ul>