<meta charset="UTF-8" />
<meta name="keywords" content="{{ keywords }}" />
<meta name="description" content="{{ description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="DrupaiCMS (http://www.drupai.com)" />
<meta name="rights" content="北海助派网络信息技术有限公司 (http://www.drupai.com)" />
<title>{{ title }}</title>
