#header{
    background: url("../images/banner.jpg") center no-repeat;
    height: 670px;
    overflow: hidden;
}
.header-bottom{
    margin-top: -205px;
}
.container{
    background: transparent;
}
.about_section{
    padding: 4em 0;
}
.service-section{
    background-color: #37353b;
    padding: 4em 0;
}
.case-section{
    padding:4em 0;
}
.news-section{
    background-color: #eee;
    padding:4em 0;
}
.footer-section{
    background-color: #3f454d;
}
